* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Fjalla One", sans-serif;
}
body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
form {
  border-radius: 15px;
  padding: 15px;
}

fieldset {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-top: 2px;
  border-color: grey;
}
legend {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
p {
  display: inline-block;
}
label {
  font-size: 17px;
}
input {
  margin-bottom: 12px;
  width: 280px;
  height: 21px;
  border-radius: 5px;
}

select {
  margin-bottom: 12px;
  width: 150px;
  height: 18px;
  border-radius: 50px;
}
textarea {
  resize: none;
  width: 60%;
  margin-top: 10px;
  border-radius: 5px;
}
button {
  padding: 5px;
  margin-right: 5px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  height: 13px;
}

input[type="color"] {
  width: 25px;
}

button[type="submit"]:hover {
  background-color: #5f8f6a;
  color: #ffffff;
}

button[type="reset"]:hover {
  background-color: #d14343;
  color: #ffffff;
}
