* {
  margin: 0;
  padding: 0;
}

header img {
  display: block;
}
header h1 {
  text-align: left;
}
h1 {
  font-family: "Fjalla One", sans-serif;
}
body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
form {
  background-color: #ffffff;
  padding: 15px;
}

fieldset {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-top: 2px;
}
legend {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
p {
  display: inline-block;
}
/* label {
  display: inline-block;
  margin-bottom: 5px;
} */
input,
select {
  margin-bottom: 12px;
  width: 220px;
  height: 18px;
}
textarea {
  resize: none;
  width: 60%;
  margin-top: 10px;
}
button {
  padding: 5px;
  margin-right: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[type="color"] {
  width: 25px;
}
